.button {
  cursor: pointer;
  width: 90px;
  height: 90px;
  svg {
    max-height: 100%;
    max-width: 100%;
  }
  &-create,
  &-clear-all {
    border-radius: 3px;
    padding: 10px 30px;
    width: auto;
    height: auto;
    background: rgba(white, 20%);
    color: white;
  }
  &-clear-all {
    position: absolute;
    top: 20px;
    right: 150px;
    color: red;
    font-weight: 700;
    padding: 8px 25px;
  }
  &-remove {
    background: url("../img/header/trash.svg") center no-repeat;
    background-size: contain;
    z-index: 1019;
    cursor: default;
  }
  &-remove-subtask,
  &-card-remove-subtask {
    z-index: 1019;
    background: url("../img/cards/delete.svg") center no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    padding: 0;
    &:active {
      border: 2px solid rgba(255, 255, 255, 60%);
    }
  }

  &-add {
    background: url("../img/header/plus.svg") center no-repeat;
    background-size: contain;
    z-index: 1021;
    transition: 0.2s;
    &.active {
      transform: rotate(45deg);
    }
    &-subtask,
    &-card-subtask {
      border-radius: 3px;
      padding: 6px 10px;
      width: 166px;
      height: 34px;
      background: rgba(white, 20%);
      color: white;
      margin-bottom: 10px;
      border: 2px solid transparent;
      &:active {
        border: 2px solid rgba(255, 255, 255, 60%);
      }
    }
  }
  &-edit {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background: url(../img/cards/edit.svg);
    align-self: flex-end;
  }
}
