.button {
  cursor: pointer;
  width: 90px;
  height: 90px;
  svg {
    max-height: 100%;
    max-width: 100%;
  }
  &-create {
    border-radius: 3px;
    padding: 6px 0;
    width: auto;
    height: auto;
    background: rgba(white, 20%);
    color: white;
  }
  &-remove {
    background: url("../img/header/trash.svg") center no-repeat;
    background-size: contain;
    z-index: 1019;
    cursor: default;
  }
  &-add {
    background: url("../img/header/plus.svg") center no-repeat;
    background-size: contain;
    z-index: 1021;
    transition: 0.2s;
    &.active {
      transform: rotate(45deg);
    }
  }
  &-edit {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background: url(../img/cards/edit.svg);
    align-self: flex-end;
  }
}
