.cards-container {
  overflow-x: auto;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 20px;
}
.empty-cover {
  padding: 15px;
  background: rgba(0, 0, 0, 40%);
  text-align: center;
  font-size: 62px;
  color: white;
  width: 100%;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  overflow-y: auto;
  border-radius: 5px;
  padding: 15px 10px 10px 10px;
  height: auto;
  max-height: 400px;
  width: 300px;
  min-width: 300px;
  background: rgba(0, 0, 0, 40%);
  .subtask-checkbox {
    height: 25px;
    width: 25px;
  }
  &-tasks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 360px;
    overflow-y: auto;
    margin-bottom: 15px;
  }
  &-text {
    min-height: 46px;
    max-height: 46px;
  }
  &-text,
  &-subtask-text {
    overflow-y: auto;
    width: 90%;
    color: white;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 15%);
    resize: none;
    border-radius: 3px;
    border: 2px solid transparent;
  }
  &-subtasks {
    margin-bottom: 10px;
  }
  &-subtask {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 3px 6px;
    &-text {
      max-height: 35px;
      min-height: 35px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      border-radius: 5px;
      background: rgba(green, 40%);
      textarea {
        text-decoration: line-through;
      }
    }
  }
  &-subtask-text {
    margin-left: 5px;
    width: 90%;
    margin-bottom: 0;
    max-height: 28px;
    min-height: 28px;
    border-radius: 3px;
  }
  &-creator {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -9999px;
    transition: 0.3s;
    z-index: 1020;
    background: rgba(0, 0, 0, 0.5);
    &-subtask {
      max-height: 35px;
      min-height: 35px;
      width: 100%;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 10px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 40%);
      z-index: 1021;
      margin: 250px auto 0 auto;
      width: 500px;
      min-height: 250px;
      .subtask-wrapper {
        transition: 0.3s;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
      textarea {
        border-radius: 3px;
        resize: none;
        background: rgba(white, 20%);
        height: auto;
        color: $text-color-light;
        &::placeholder {
          color: darken(white, 0.1);
        }
      }
      .card-creator-text {
        margin-bottom: 10px;
        min-height: 70px;
        max-height: 70px;
        padding: 5px;
        width: 100%;
      }
    }
    &.active {
      transition: 0.3s;
      left: 0;
    }
  }
}
